<form action="/prehistoric_creatures" method="post">
  <label for="creatureType">Type</label>
  <input type="text" id="creatureType" name="type" />

  <label for="creatureImage">Image URL</label>
  <input type="text" id="creatureImage" name="img_url" />

  <button type="submit">Create new creature</button>
</form>
