<form action="/dinosaurs" method="get">
  <label for="nameFilter">Filter by name</label>
  <input type="text" name="nameFilter" id="nameFilter" />
  <button type="submit">Filter</button>
</form>

<ul>
  <% dinos.forEach((dino, index) => {%>
  <li>
    <%= dino.name %> is a <%= dino.type %>
    <a href="/dinosaurs/edit/<%= index %>">Edit</a>

    <form action="/dinosaurs/<%= index %>/?_method=DELETE" method="post">
      <button type="submit">Delete</button>
    </form>
  </li>
  <% }) %>
</ul>
